<html xmlns="http://www.w3.org/1999/xhtml">
{{template "_base_head.html" "Troyd - dashboard"}}
<body>
<div id="wrapper">
  {{template "_base_body_wrapper_header.html"}}
  {{template "_base_body_wrapper_menu.html" .Login}}
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        <div id="content">
          <div>
            <h2>Dashboard: {{.Instrument}}</h2>
            {{template "_dashboard_table.html" .}}
          <div style="clear: both;">&nbsp;</div>
        </div>
        {{template "_base_body_wrapper_sidebar.html"}}
      </div>
    </div>
  </div>
</div>
{{template "_base_body_footer.html"}}
</body>
</html>

