<html xmlns="http://www.w3.org/1999/xhtml">
{{template "_base_head.html" "Troyd - instruments"}}
<body>
<div id="wrapper">
  {{template "_base_body_wrapper_header.html"}}
  {{template "_base_body_wrapper_menu.html" .Login}}
  <div id="page">
    <div id="page-bgtop">
      <div id="page-bgbtm">
        <div id="content">
          <div>
            <h2>Instruments</h2>
            <ul>{{range .Instruments}} <li>{{.Key}}, <a href="{{.DashboardUrl}}">dashboard</a></li> {{end}}</ul>
          </div>
          <div style="clear: both;">&nbsp;</div>
        </div>
        {{template "_base_body_wrapper_sidebar.html"}}
      </div>
    </div>
  </div>
  <!-- end #page -->
</div>
{{template "_base_body_footer.html"}}
</body>
</html>
